<div class="ck-alert-wrapper">
  <div class="ck-alert-wrapper__inner">
    <div class="ck-alert-image">
      <div id="alert-image" class="ck-alert-image__inner"><img src="{media}" /></div>
    </div>

    <div class="ck-alert ck-alert--donation">
      <div class="ck-alert__header">
        <h2>Donation!</h2>
      </div>

      <div class="ck-alert-text">
        <div id="alert-text" class="ck-alert-text__inner">
          <div id="alert-message">{template}</div>
          <div id="alert-user-message">{message}</div>
        </div>
      </div>
    </div>
  </div>
</div>
